.djs-palette{
    height: 330px;
    width: 60px;
    position: fixed !important;
    top: 65px !important;
    border-radius:6px !important;
    border: 0 !important;
    box-shadow:0px 0px 6px rgba(0, 0, 0, 0.1);
}
.djs-palette-entries{
    height: 100%;
    width: 100%;
    display: flex;
    background:#ffffff;
    border-radius:6px;
    box-shadow:0px 0px 6px rgba(0, 0, 0, 0.1);
    flex-direction: column;
}
.group{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.djs-palette .entry{
    height: 30px !important;
    width: 30px !important;
    line-height: 30px !important;
}
/* .djs-group{
    stroke-opacity: 0;
} */
.taskContainer{
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 2px solid #5292e0;
}
.otherContainer{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.svgIcon{
    height: 35px;
    width: 50px;
    flex-shrink: 0;
}
.otherSvg{
    height: 53px;
    width: 53px;
}
.taskName{
    font-size: 14px;
    color: #333;
    width: 90px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.gateContainer{
    width: 68%;
    height:68%;
    transform: translate(20%, 20%) rotate(45deg);
    border: 2px solid #212930;
    font-size: 12px;
    text-align: center;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    position: relative;
}
.gateName{
    transform: rotate(-45deg);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    width: 79px;
}
.gateSvg{
    width: 100%;
    height: 100%;
}
.icon-custom {
    /* 定义一个公共的类名 */
    border-radius: 50%;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 15px;
    
}
.djs-context-pad .entry{
    width: 30px !important;
    height: 30px !important;
    
}
.bpmn-icon-trash{
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #ff4747;
}
.padIcon{
    width: 100%;
    height: 100%;
}
.djs-context-pad{
    border: 1px solid #5292e0;
    padding: 5px;
    /* width: 65px; */
    display: none !important;
    background-color: #ffffff;
}
.djs-context-pad .group{
    display: block;
    /* text-align: center; */
}
.djs-context-pad .icon-custom{
    padding: 0;
}
.startCpad{
    width: 65px;
}
.noalignPad{
    display: block !important;
}
.selectCanvas{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.bjs-powered-by{
    display: none;
}
.bjs-breadcrumbs{
    display: none;
}
.djs-parent:hover{
    overflow: auto !important;
}
.djs-parent svg[data-element-id='Process_1']{
    width: 500% !important;
    height: 500% !important;
    overflow: scroll !important;
}

#canvas{
    overflow: scroll !important;
}
.design-center_container .djs-minimap{
    position: fixed !important;
    right: 480px;
    top: calc(100% - 205px) !important;
}
.djs-minimap.open .toggle{
    display: none;
}
.djs-minimap:not(.open) .toggle{
    display: none;
}
.pane_container .djs-parent{
    overflow: hidden !important;
}
.pane_container .djs-parent:hover{
    overflow: auto !important;
}
.pane_container .djs-parent svg[data-element-id='Process_1']{
    width: 500% !important;
    height: 500% !important;
}
.container_box .djs-parent{
    overflow: auto !important;
}
.container_box .djs-minimap{
    position: fixed !important;
    top: calc(100% - 205px) !important;
}
.test{
    display: none;
    position: absolute;
    top: 0;
    left: 100px;
    background-color: black;
    color: red;
}
.djs-shape:hover .test{
    display: block ;
}
.show_checker{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    border: 1px solid #212930;
    border-radius: 2px;
    min-height: 80px;
    min-width: 120px;
}
.show_checker::before{
    content: '';
    border-top: 1px solid ;
    border-left: 1px solid;
    border-color: #212930;
    left: calc(50% - 5px);
    top: -7px;
    height: 10px;
    width: 10px;
    position: absolute;
    transform: rotate(45deg);
}
.hoverChecker_text{
    font-size: 12px;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    /* position: relative;   */
}
.hoverChecker_top{
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-bottom: 1px dashed #212930;
}
.hover_name{
    padding-left: 5px;
    line-height: 20px;
    height: 20px;
}
/* .pane_container .djs-palette{
    display: none !important;

} */
/* .djs-label{
    display: none;
} */