.flowConfig {
  height: 100%;
  width: 100%;
  overflow: auto;
}
.flowConfig .flowForm {
  height: 402px;
  padding: 10px 15px;
}
.flowConfig .flowForm :deep(.el-form-item--small .el-form-item__label) {
  font-size: 14px;
  color: #333333;
  height: 32px;
  line-height: 32px;
}
.flowConfig .flowForm :deep(.el-form) .el-form-item--small {
  margin-bottom: 15px;
}
.flowConfig .flowForm :deep(.el-form) .el-input--small {
  width: 100%;
  height: 32px;
  font-size: 14px;
}
.flowConfig .flowForm :deep(.el-form) .el-input__wrapper {
  border-radius: 3px;
}
.flowConfig .flowForm :deep(.el-form) .el-checkbox.el-checkbox--small .el-checkbox__inner {
  width: 14px;
  height: 14px;
}
.flowConfig .flowForm :deep(.el-form) .el-checkbox.el-checkbox--small .el-checkbox__input.is-checked .el-checkbox__inner {
  background-color: #3286ed;
}
.flowConfig .flowForm :deep(.el-form) .el-checkbox.el-checkbox--small .el-checkbox__inner::after {
  width: 4px;
  height: 7px;
  left: 3px;
}
.flowConfig .flowForm :deep(.el-form) .el-checkbox.el-checkbox--small .el-checkbox__label {
  font-size: 13px;
  color: #333;
}
.flowConfig .flowForm :deep(.el-form) .el-checkbox.el-checkbox--small .el-checkbox__input.is-checked + .el-checkbox__label {
  color: #0080ff;
}
.flowConfig .flowForm :deep(.el-form) .switch_item {
  margin-bottom: 0;
}
.flowConfig .flowForm :deep(.el-form) .switch_item .el-form-item__content {
  justify-content: flex-end;
}
.flowConfig .flowForm :deep(.el-form) .switch_item .el-form-item__content .el-switch--small {
  height: 20px;
  width: 35px;
}
.flowConfig .flowForm :deep(.el-form) .switch_item .el-form-item__content .el-switch--small .el-switch__core {
  height: 20px;
  min-width: 35px;
  border-radius: 12px;
  background: #e5e5e5;
}
.flowConfig .flowForm :deep(.el-form) .switch_item .el-form-item__content .el-switch--small .el-switch__core .el-switch__action {
  width: 14px;
  height: 14px;
}
.flowConfig .flowForm :deep(.el-form) .switch_item .el-form-item__content .el-switch--small.is-checked .el-switch__core {
  background: linear-gradient(90deg, #0080ff 0%, #4cdcec 100%) !important;
}
.flowConfig .flowForm :deep(.el-form) .switch_item .el-form-item__content .el-switch--small.is-checked .el-switch__core .el-switch__action {
  left: calc(100% - 15px);
}
.flowConfig .flowForm :deep(.el-form) .switch_tip {
  height: 16px;
  font-family: Microsoft YaHei;
  color: #999999;
  font-size: 12px;
  padding-left: 10px;
  margin-bottom: 15px;
}
.flowConfig .flowForm :deep(.el-form) .remark_item {
  margin-bottom: 0;
}
.flowConfig .flowForm :deep(.el-form) .remark_item .el-form-item__label {
  padding-left: 10px;
}
.flowConfig .flowForm :deep(.el-form) .remark_item .el-input--small {
  flex: 1;
}
.flowConfig .flowForm :deep(.el-form) .form_Top {
  border-bottom: 1px solid #e4e7ed;
  margin-bottom: 15px;
}
.flowConfig :deep(.el-select--small) {
  width: 100%;
}
.flowConfig :deep(.el-select--small) .el-input {
  width: 100% !important;
}
.flowConfig :deep(.el-select) {
  width: 100%;
}
.flowConfig :deep(.el-select) .el-input {
  width: 100% !important;
}
.flowConfig .flowCollapse {
  border-color: #e4e7ed;
}
.flowConfig .flowCollapse :deep(.el-collapse) .el-collapse-item__header {
  height: 44px;
  font-weight: 700;
  color: #666666;
  font-size: 14px;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding-left: 15px;
}
.flowConfig .flowCollapse :deep(.el-collapse) .el-collapse-item__header .el-collapse-item__arrow {
  margin: 0;
  margin-right: 8px;
}
